<!DOCTYPE html>
<html lang="en" ng-app="ccportal">

  <head>

    <% include header.html %>

  </head>

  <body id="page-top" ng-controller="EmergencyCtl">

    <% include navbar.html %>

    <div id="wrapper">

    
    <% include sidebar.html %>    

      <div id="content-wrapper">

        <div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#" ng-click="newEmergency()">Cancelar</a>
            </li>
          </ol>

          <div class="col-mb-8">
            <form>
              <div class="row">
              <div class="col-md-3 mb-3">
                <label for="firstName">Placas</label>
                <input type="text" class="form-control" id="placas"  ng-model="emergency.placas" ng-keyup="complete(emergency.placas)" placeholder="" value="" required>
                <ul class="list-group">
                  <li class="list-group-item" ng-repeat="vehicle in vehicles" ng-click="fillTextbox(vehicle)">{{vehicle}}</li>
              </ul>
                <div class="invalid-feedback">
                  Las placas son obligatorias
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <label for="modelo">Marca</label>
                <input type="text" class="form-control" id="marca" placeholder="" value="" required>
                <div class="invalid-feedback">
                  Valid last name is required.
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <label for="modelo">Modelo</label>
                <input type="text" class="form-control" id="modelo" placeholder="" value="" required>
                <div class="invalid-feedback">
                  Valid last name is required.
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <label for="year">A&ntilde;o</label>
                <input type="text" class="form-control" id="year" placeholder="" value="" required>
                <div class="invalid-feedback">
                  Valid last name is required.
                </div>
              </div>
             </div>
             <div class="row">
              <div class="col-md-3 mb-3">
                <label for="color">Color</label>
                <input type="text" class="form-control" id="color" placeholder="" value="" required>
                <div class="invalid-feedback">
                  Las placas son obligatorias
                </div>
              </div>
             </div>
            </form>
          </div>

        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © </span>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>
   <% include scripts.html %>
  </body>
</html>