 <!-- Sidebar -->
      <ul class="sidebar navbar-nav">
         <li class="nav-item active">
          <a class="nav-link" href="./index">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
          </a>
        </li>
<!--       <li class="nav-item">
          <a class="nav-link" href="./vehicles">
            <i class="fas fa-fw fa-car-alt"></i>
            <span>Vehiculos</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./serviceaccounts">
            <i class="fas fa-fw fa-archive"></i>
            <span>Cuentas de Servicio</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./notifications">
            <i class="fas fa-fw fa-archive"></i>
            <span>Notificaciones</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./emergencia">
            <i class="fas fa-fw fa-archive"></i>
            <span>Reporte Emergencia</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./historico">
            <i class="fas fa-fw fa-drum-steelpan"></i>
            <span>Historico Ordenes de Servicio</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./monitoring">
            <i class="fas fa-fw fa-search-location"></i>
            <span>Monitoreo</span></a>
        </li>-->
        <li class="nav-item">
          <a class="nav-link" href="./sirius">
            <i class="fas fa-fw fa-map-marker"></i>
            <span>Sirius</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./shells">
            <i class="fas fa-fw fa-car"></i>
            <span>Perfiles Mzone</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./logs">
            <i class="fas fa-fw fa-file-code"></i>
            <span>Logs</span></a>
        </li>
      </ul>
