<!DOCTYPE html>
<html lang="en" ng-app="ccportal">

    <head>

        <% include ../header.html %>

    </head>

    <body id="page-top" ng-controller="LogController" ng-init="getUserSession()">

        <% include ../navbar.html %>

        <div id="wrapper">


            <% include ../sidebar.html %>

            <div id="content-wrapper">

                <div class="container-fluid">

                    <!-- Breadcrumbs-->
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Logs Mzone / MProfile</a>
                        </li>
                    </ol>


                    <div class="col-mb-12">

                        <form>



                            <div class="row col-12" >
                                <div class="col-4">
                                    <div class="col-12 form-group">
                                        <label for="nombre">Usuario o Correo del usuario</label>
                                        <input type="text" class="form-control" id="usuario" ng-model="logsBusqueda.usuario" placeholder="Nombre o correo del usuario" required="true">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="col-12 form-group">
                                        <label for="apellido">Fecha Inicial</label>
                                        <input type="text" class="form-control" id="fechaIni" ng-model="fechaIni" placeholder="Fecha Inicial" required="true" readonly>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="col-12 form-group">
                                        <label for="email">Fecha Final:</label>
                                        <input type="text" class="form-control" id="fechaFin" ng-model="fechaFin" placeholder="Fecha Final" required="true" readonly>
                                    </div>
                                </div>
                                <div class="col-2" style="float: left; padding-top: 30px">
                                    <button type="button" class="btn btn-primary" ng-click="consultarLogs()">Consultar</button>
                                </div>


                            </div>

                            <div class="row col-12" id="divMensajeGeneral" style="display: none; white-space: pre-line; margin-top: 30px">
                                <div class="alert alert-danger" role="alert" id="mensajeGeneral" style="display: none"> </div>
                            </div>

                            <div class="row col-12" style="margin-top: 30px">

                                <div class=" col-12" id="tblLogs" style="overflow-x:scroll; margin-top: 15px">

                                    <table ng-table="tableParams" class="table table-bordered table-sm"  style=" max-width:100%; width:100%; white-space: nowrap;">
                                        <tbody>
                                            <tr ng-repeat="log in $data" >
                                                <td data-title="'ID'" style="width: 100px">{{ log.id}}</td>                                                                                            
                                                <td data-title="'FECHA'" style="width: 100%">{{ log.created_date}}</td>
                                                <td data-title="'ACCIÓN'" style="width: 100%">{{ log.action}}</td>
                                                <td data-title="'USUARIO'" style="width: 100%">{{ log.user_name}}</td>
                                                <td data-title="'DETALLE'" style="width: 100%">{{ log.observations}}</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>


                            </div>


                        </form>
                    </div>


                    <!-- /.container-fluid -->

                    <!-- Sticky Footer -->
                    <footer class="sticky-footer">
                        <div class="container my-auto">
                            <div class="copyright text-center my-auto">
                                <span>Copyright © | {{usuarioSesion.environment}}</span>
                            </div>
                        </div>
                    </footer>

                </div>
                <!-- /.content-wrapper -->

            </div>
            <!-- /#wrapper -->

            <!-- Scroll to Top Button-->
            <a class="scroll-to-top rounded" href="#page-top">
                <i class="fas fa-angle-up"></i>
            </a>


        </div>

        <% include ../modals.html %>
        <% include ../scripts.html %>

        <script type="text/javascript">
                    $(document).ready(function () {
                        $("#fechaIni").datepicker({
                            format: 'yyyy/mm/dd'
                        });
                        $("#fechaFin").datepicker({
                            format: 'yyyy/mm/dd'
                        });
                    });
        </script>
    </body>
</html>
